/*
 * red 8A000E
 * orange FE4400
 * jello FED100
 * greenz 00722E
 * bloo 003272
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  color: #003272;
  background-color: #fff;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 15px;
  min-height: 100vh;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.Rubiks-timer, .App-header {
  text-align: center;
}

.Rubiks-timer-text {
  padding: 15px;
  margin: 15px;
  background-color: #003272;
  color: #fff;
}

.Rubiks-timer-chart {
  margin: 15px;
  height: 100px;
}
.Rubiks-timer-times {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Rubiks-timer-time {
  display: inline-block;
  padding: 15px;
  margin: 15px;
  background-color: #00722E;
  color: #fff;
}
.Rubiks-timer-time.first {
  border: 2px solid #0B3333;
}

.Rubiks-timer-button {
  border: none;
  padding: 15px;
  font-family: 'Rubik', sans-serif;
  margin: 15px;
  background-color: #FED100;
  color: #003272;
  font-size: 14px;
  border-bottom: 1px solid #FF9E35;
  border-right: 1px solid #FF9E35;
}


.App-header .App-name {
  margin-top: 10px;
}
